@keyframes myMove {
  0% {
    top: 0px;
    left: 100px;
    opacity: 0%;
  }
  8% {
    top: 30px;
    left: 170px;
    opacity: 100%;
  }
  17% {
    top: 70px;
    left: 195px;
  }
  25% {
    top: 100px;
    left: 200px;
  }

  33% {
    top: 130px;
    left: 195px;
  }
  42% {
    top: 170px;
    left: 170px;
    opacity: 100%;
  }
  50% {
    top: 200px;
    left: 100px;
    opacity: 0%;
  }
  58% {
    top: 170px;
    left: 30px;
    opacity: 100%;
  }
  67% {
    top: 130px;
    left: 5px;
  }
  75% {
    top: 100px;
    left: 0px;
  }
  83% {
    top: 70px;
    left: 5px;
  }
  92% {
    top: 30px;
    left: 30px;
  }
  100% {
    top: 0px;
    left: 100px;
    opacity: 100%;
  }
}

body {
  background-color: yellow;
}

.t0 {
  position: absolute;
    left: 55px;
    top: 80px;
    z-index: 0;
  color: blue;
  font-size: 50px;
  transform: rotate(360deg);
  transition-duration: 5s;
}

.cl-div {
position: absolute;
font-size: 20px;
left: 100px;
top: 50px;
color: red;
}
.d0 {
position: absolute;
    left: 105px;
    top: 0px;
    z-index: 0;
}
.d8 {
position: absolute;
    left: 105px;
    top: 195px;
    z-index: 0;
}

.d1 {
  opacity: 0%;
  position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
  animation: myMove 5.6s linear infinite;
}
.d2 {
  opacity: 0%;
  position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
  animation: myMove 5.6s 0.8s linear infinite;
}
.d3 {
  opacity: 0%;
  position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
  animation: myMove 5.6s 1.6s linear infinite;
}
.d4 {
  opacity: 0%;
  position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
  animation: myMove 5.6s 2.4s linear infinite;
}
.d5 {
  opacity: 0%;
  position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
  animation: myMove 5.6s 3.2s linear infinite;
}
.d6 {
  opacity: 0%;
  position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
  animation: myMove 5.6s 4s linear infinite;
}
.d7 {
  opacity: 0%;
  position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
  animation: myMove 5.6s 4.8s linear infinite;
}